body {

}

header{
  width: 100%;
  height: 70px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: left url(images/logo.svg) no-repeat ;
  background-size: 12%;
  background-position: 2% ;

}

li {
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 13px;

}

.text {
  margin: 10px;
  text-decoration: none;
  color: #404040;
}


ul {
  padding: 0;
  margin:0;
}

.sidebarStyle {

  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapWrapper {
position: relative;
  height: calc(100vh - 70px);
}

.mapContainer {
height: 100%;
}

