body {

}



.Header{
  width: 100%;
  height: 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: left url(images/logo.svg) no-repeat ;
  background-size: 12%;
  background-position: 2% ;

}



.menu{

  list-style: none;
  position: absolute;
  top: 10px;
  right: 100px;
}